.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.cell {
  display: inline-block;
  border: 1px solid black;
  padding: 1.25em;
  font-size: 1.5em;
  width: 3em;
  height: 3.5em;
  cursor: pointer;
}

.grid {
  width: 10em;
}